<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>index</title>
  </head>
  <body>

    <header>
      <div class="logo">
          <img src="/static/images/image-10.png" alt="Chatbot Logo">
      </div>
      <div class="text" style="margin-top:15px; font-size:1.8em; Font-weight:bold;position:relative; left:60px;line-height: 0px;top:7px;">
        Fatima Jinnah Women University, Rawalpindi
        <br>
        
      <div class="text2">
        <br>
        <i>Established in 1998</i>
      </div>
        
      </div>
      
      
  </header>
      
      <div class="rectangle-1"></div>
      <div class="welcome-to-fjwu-virtual-assistant">
        Welcome to FJWU Virtual Assistant
      </div>
      <div class="fjwu_pic" style="border: black;" >
        <picture>
          <source srcset="" media="(max-width: 600px)">
          <source srcset="img_flowers.jpg" media="(max-width: 1500px)">
          <source srcset="flowers.jpg">
          <img src="img_smallflower.jpg" alt="Flowers">
        </picture>
        
     
      <div class="how-do-you-want-to-use-the-chatbot">
        How do you want to use the Chatbot?
        <br>
      </div>
      <div class="button-container">
        <a href="Guest.html">
          <button class="guest-button">Guest</button>
        </a>
        <a href="login.html">
          <button class="admin-button">Admin</button>
        </a>
      </div>
    </div>
  </div>
  </body>

 
</html>